body{
    background: url(../recursos/fondo.jpg) no-repeat center center fixed;
}
h1{
    text-align: center;
}
.carcasa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ladoIzquierdo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BD0F34;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-radius: 15px;
    box-shadow: -10px 10px 0px 10px #951828;
    width: 35%;
    height: 550px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    border-radius: 15px;
    border-bottom-left-radius: 45px;
    box-shadow: -2px 2px 0px 2px #6A6A72;
    width: 250px;
    height: 250px;
}
img{
    width: 200px;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px -1px 0px 1px #6A6A72;
    margin-top: -20px;
}
.numero{
    position: absolute;
    margin-top: 140px;
    margin-left: -100px;
}
.nombre{
    position: absolute;
    margin-top: 140px;
    margin-left: 30px;
}
.ladoDerecho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BD0F34;
    width: 35%;
    height: 450px;
    margin-top: 100px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px -5px 0px 7px #951828;
}
.pantalla{
    display: flex;
    justify-content: space-around;
    color: #D8C313;
    background-color: #032D29;
    text-align: center;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    font-size: 10px;
    margin-top: -100px;
    margin-bottom: 20px;
}
input{
    background-color: #31A7F1;
    box-shadow: -1px 1px 0px 1px #2065EB;
    border-radius: 5px;
    height: 25px;
    width: 250px;
}
button{
    position: absolute;
    background-color: #DEDEDE;
    margin-top: 200px;
    margin-left: -200px;
    box-shadow: -1px 1px 0px 1px #6A6A72;
    border: none;
    border-radius: 5px;
    height: 25px;
}
.circuloBlanco{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #FAFAFB;
    height: 80px;
    width: 80px;
    position: absolute;
    margin-top: -400px;
    margin-left: -180px;
}
.circuloAzul{
    border-radius: 100px;
    background-color: #0BCDFF;
    height: 50px;
    width: 50px;
    position: absolute;
    box-shadow: 5px 5px 0px 7px #009DD4;
    margin-top: -20px;
    margin-left: -5px;
    rotate: 20deg;
    animation: rotacion 10s infinite;
}
@keyframes rotacion{
    1%{ rotate: 5deg;}
    5%{ rotate: 15deg;}
    10%{ rotate: 25deg;}
    15%{ rotate: 35deg;}
    20%{ rotate: 45deg;}
    25%{ rotate: 55deg;}
    30%{ rotate: 65deg;}
    35%{ rotate: 75deg;}
}
.circuloRojo{
    border-radius: 100px;
    background-color: #EE0706;
    height: 15px;
    width: 15px;
    position: absolute;
    box-shadow: 2px 2px 0px 2px #A80610;
    margin-top: -450px;
    margin-left: -60px;
}
.circuloAmarillo{
    border-radius: 100px;
    background-color: #E2E615;
    height: 15px;
    width: 15px;
    position: absolute;
    box-shadow: 2px 2px 0px 2px #808408;
    margin-top: -450px;
}
.a1{
margin-left: 60px;
}
.circuloNegro{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: 320px;
    margin-left: -190px;
    background-color: #262626;
    box-shadow: -3px 3px 0px 3px #0D0D0D;
}
.barraRoja{
    position: absolute;
    border-radius: 25px;
    width: 50px;
    height: 10px;
    margin-top: 300px;
    margin-left: -80px;
    background-color: #ff0000;
}
.barraAzul{
    position: absolute;
    border-radius: 25px;
    width: 50px;
    height: 10px;
    margin-top: 300px;
    margin-left: 35px;
    background-color: #095378;
}
.bloqueVerde{
    position: absolute;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background-color: #55AB62;
    margin-top: 450px;
    margin-left: -50px;
}
#cruz{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    height: 70px;
    position: absolute;
    width: 30px;
    margin-top: 350px;
    margin-left: 150px;
    box-shadow: -3px 3px 0px 2px #0D0D0D;
}
#cruz:after{
    background: #262626;
    content: "";
    height: 30px;
    left: -20px;
    position: absolute;
    top: 20px;
    width: 70px;
    box-shadow: -3px 3px 0px 2px #0D0D0D;
}
#cruz:before{
    z-index: 1;
    background: #262626;
    content: "";
    height: 70px;
    position: absolute;
    width: 30px;
}
.punto{
    z-index: 1;
    background: #262626;
    border-radius: 100px;
    border: 1px solid #0D0D0D;
    width: 15px;
    height: 15px;
}
td{
    border: 1px solid black;
}
.barraIzquierda{
    position: absolute;
    width: 50px;
    height: 10px;
    border-radius: 25px;
    margin-top: 150px;
    margin-left: 95px;
    background-color: #262626;
}
.barraDerecha{
    position: absolute;
    width: 50px;
    height: 10px;
    border-radius: 25px;
    margin-top: 150px;
    margin-left: 200px;
    background-color: #262626;
}
.bombillo{
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 220px;
    margin-left: 200px;
    border-radius: 100px;
    background-color: #C5BA45;
    box-shadow: 3px 3px 0px 3px #8B8635;
    animation: parpadeo 2s infinite;
}
@keyframes parpadeo {
    50%{
        background-color: green;
        box-shadow:  3px 3px 0px 3px #013b01;
    }
}
.altura{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 100px;
    margin-top: 350px;
    margin-left: -150px;
    border-radius: 5px;
    background-color: #032D29;
    color: #B5A715;
    font-size: 12px;
}
.peso{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 100px;
    margin-top: 350px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #032D29;
    color: #B5A715;
    font-size: 12px;
}
@media (max-width:450px) {
    .carcasa{
        flex-direction: column;
    }
    .imagen{
        z-index: 1;
        position: absolute;
        top: 20%;
        height: 40%;
        width: 65%;
    }
    img{
        height: 70%;
        width: 70%;
    }
    .ladoIzquierdo{
        background-color: #009bd400;
        box-shadow: none;
    }
    .circuloRojo, .circuloAmarillo, .circuloAzul, .circuloBlanco, #cruz, .barraAzul, .barraRoja, .circuloNegro, .bloqueVerde{
        display: none;
    }
    .ladoDerecho{
        position: absolute;
        top: 0px;
        width: 90%;
        height: 120%;
        border-radius: 25px;
    }
    .pantalla{
        margin-top: 25%;
        width: 80%;
    }
    button{
        margin-top: 110%;
    }
    .barraDerecha, .barraIzquierda{
        margin-top: 100%;
    }
    .bombillo{
        margin-top: 120%;
    }
    .peso, .altura{
        margin-top: 150%;
    }
    input{
        width: 70%;
    }
}
@media (min-width:1100px){
    .ladoIzquierdo{
        width: 25%;
    }
    .ladoDerecho{
        width: 25%;
    }
}